/*style*/
select {width:78px;}
#form-three {width:160px;}
.ks-content {display:block;margin-top:100px;}
.ks-content li {display:block;float:left;width:135px;padding:5px;margin:8px 40px;font-size:20px;}
.dropdown-menu li a {font-size:20px;}
.btn-group {margin-right:10px;}
.unit {width: 245px;}
.unit-name {float:left;margin-top:5px;}
.unit li {display:block;height:30px;margin-bottom:20px;}
input[type="text"] {height:30px;font-size:15px;}
.input-small {width:78px;}
.bootstrap-select:not([class*=span]) {width:73px;}
.radio {float:left;padding-left:0;margin:5px 20px 0 0;}
.radio input[type="radio"] {margin-left:0;}

